// Place all the styles related to the tickTracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.nocampaign {
	text-align: center;
}

.trackboxPC {
	text-align: center;
	color: black;
	padding-bottom: 5px;
	margin: 10px 22px 10px 22px;
	a:link {color:#000000; text-decoration: none;}      /* unvisited link */
	a:visited {color:#000000; text-decoration: none;}  /* visited link */
	a:hover {color:#ffffff; text-decoration: none;}  /* mouse over link */
	a:active {color:#000000; text-decoration: none;}  /* selected link */
}

.trackboxNPC {
	text-align: center;
	color: black;
	padding-bottom: 5px;
	margin: 10px 22px 10px 22px;
	a:link {color:#000000; text-decoration: none;}      /* unvisited link */
	a:visited {color:#000000; text-decoration: none;}  /* visited link */
	a:hover {color:#ffffff; text-decoration: none;}  /* mouse over link */
	a:active {color:#000000; text-decoration: none;}  /* selected link */
}

.tick0.trackboxPC {
	color: #00aa00;
}

.tick0.trackboxNPC {
	color: #00aa00;
}

.winded {
	color: #ff0000;
}

.mainbuttons {
	margin-top: 30px;
}

.wound0 {
	background: #ccff99;
}

.wound1 {
	background: #ffff99;
}

.wound2 {
	background: #ff9933;
}

.wound3 {
	background: #dd0000;
}

.wound4 {
	background: #880000;
}

.wound5 {
	background: #666666;
	color: #666666 !important;
}


