// Place all the styles related to the tickTracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	a:link {color:#333333;}      /* unvisited link */
	a:visited {color:#333333;}  /* visited link */
	a:hover {color:#ffffff; text-decoration: none;}  /* mouse over link */
	a:active {color:#333333;}  /* selected link */

.nocampaign {
	text-align: center;
}

.trackboxPC {
	text-align: center;
	background: #ccff99;
	color: black;
	padding-bottom: 5px;
	margin: 10px 22px 10px 22px;
}

.trackboxNPC {
	text-align: center;
	background: #ff6633;
	color: black;
	padding-bottom: 5px;
	margin: 10px 22px 10px 22px;
}

.tick0.trackboxPC {
	background: #33ff00;
};

.tick0.trackboxNPC {
	background: red;
}

.winded {
	background: #cccccc;
}

.mainbuttons {
	margin-top: 30px;
}