// Place all the styles related to the tickTracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nocampaign {
	text-align: center;
}

.trackbox {
	text-align: center;
	color: black;
	padding-bottom: 5px;
	margin: 10px 22px 10px 22px;
	a:link {color:#000000; text-decoration: none;}
	a:visited {color:#000000; text-decoration: none;}
	a:hover {color:#ffffff; text-decoration: none;}
	a:active {color:#000000; text-decoration: none;}
}

.tick0.trackbox {
	color: #00aa00;
}


.offbalance {
	color: #ff0000;
}

.mainbuttons {
	margin-top: 30px;
}

.wound-none {
	background: #ccff99;
}

.wound-light {
	background: #ffff99;
}

.wound-major {
	background: #ff9933;
}

.wound-severe {
	background: #dd0000;
}

.wound-critical {
	background: #880000;
}


